<script lang="ts">
  import { Router, Route, Link } from 'svelte-navigator'
  import { interval } from 'rxjs'
  import { take } from 'rxjs/operators'

  export let imageSrc

  let userIsReady = false
  let countdown = 5
  let showCountdown = false

  const startCountdown = () => {
    showCountdown = true
    interval(1000)
      .pipe(take(countdown))
      .subscribe(() => {
        countdown--
        if (countdown === 0) {
          userIsReady = true
        }
      })
  }

  const resetCountdown = () => {
    countdown = 5
    userIsReady = false
    showCountdown = false
  }
</script>

<div>

  {#if showCountdown}
    <h2>We start in: {countdown}</h2>
  {/if}

  {#if userIsReady}
    <p>You are ready!</p>
    <img src={imageSrc} alt="Our current challenge" />
    <button on:click={resetCountdown}>Reset</button>
  {:else if !showCountdown}
    <p>You are not ready!</p>
    <button on:click={startCountdown}>U ready?</button>
  {/if}
</div>
