<script lang="ts">
  import { Router, Route, Link } from 'svelte-navigator'
  import Trivia from './Trivia.svelte'
  import TriviaHome from './TriviaHome.svelte'
</script>

<Router>
  <Route path="/trivia" component={TriviaHome} />
  <Route path="/trivia/*triviaId" component={Trivia} />

  <Route path="/about">
    <h1 class="text-3xl font-bold underline">Acerca de</h1>
    <p>
      <Link to="/">Home</Link>
    </p>
  </Route>

  <Route path="/">
    <h1 class="text-3xl font-bold underline">Casa</h1>
    <p>
      <Link to="/about">About</Link>
    </p>
  </Route>
</Router>
