<script lang="ts">
  import { getTrivias } from './services/triviaService'
  const trivias = getTrivias()
</script>

<div>
  <h1>Trivia Home</h1>
  I have {trivias.length} trivia{trivias.length > 1 ? 's' : ''} for you
</div>
