<script lang="ts">
  import { Router, Route, Link } from 'svelte-navigator'

  import ImageTrivia from './ImageTrivia.svelte'
  import { getTriviaById } from './services/triviaService'
  export let triviaId

  const trivia = getTriviaById(triviaId)
</script>

<div>
  <h1>{trivia.name}</h1>

  <ImageTrivia imageSrc={trivia.imageUrl} />

</div>
